body{
  background-image: url("https://lh5.googleusercontent.com/-rTIGIusqnpA/VMg6VIf4G1I/AAAAAAAABKQ/GypXMuqvP1k/s1600/background-for-websites-wallpapers-and-background.jpg");
  background-size: auto;
  font-family: 'Open Sans', sans-serif;
}
